/* Base styles for SignUp Page */
.signup-page {
  display: flex;
  justify-content: center;
  padding-top: 7rem;
  position: relative;
}

.signup-container {
  text-align: center;
  width: 35%;
  z-index: 2;
}

.signup-page::before {
  content: "";
  position: absolute;
  /* bottom: -450px; */
  /* left: 50%; */
  transform: translateY(-5%);
  width: 95%;
  aspect-ratio: 5/4;
  background: #ffffff;
  border-radius: 50% 50% 0% 0%;
  z-index: 1;
}

.signup-title {
  font-family: "Josefin Sans", serif;
  font-size: 48px;
  font-weight: 600;
  color: #d5b26b;
  margin-bottom: 1.5rem;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.signup-input {
  padding: 0.8rem;
  border: 1px solid #000000;
  border-radius: 20px;
  font-family: "Josefin Sans", serif;
  font-weight: 400;
  font-size: 24px;
  color: #a09f9f;
}

.signup-button,
.google-signup-button {
  background: #d5b26b;
  color: #ffffff;
  font-family: "Josefin Sans", serif;
  font-size: 24px;
  font-weight: 600;
  border: 1px solid #171717;
  border-radius: 20px;
  padding: 0.8rem;
  cursor: pointer;
}

.google-signup-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: transparent;
  color: #d5b26b;
  border: none;
}

.google-icon {
  height: 25px;
}

.error-message {
  color: #d84343;
  font-size: 16px;
  font-weight: 400;
  text-align: right;
  font-family: "Josefin Sans", serif;
}

.signin-link {
  font-family: "Josefin Sans", serif;
  color: #565656;
  font-size: 24px;
  font-weight: 400;
  margin: 1rem;
}

.signin-link a {
  color: #d5b26b;
  text-decoration: none;
}

/* Remove the .signup-page::before effect for tablets and smaller devices */
@media (max-width: 1024px) {
  .signup-page::before {
    display: none;
  }

  .signup-container {
    width: 50%;
  }

  /* Add blur effect for tablets */
  .signup-page {
   
    background-color: #FDFAF5; /* Add slight overlay */
    height: 120vh;
  }
 
}

/* Responsive for mobile devices */
@media (max-width: 768px) {
  .signup-page{
    padding-top: 3rem;
  }
  .signup-container {
    width: 70%;
  }

  .signup-title {
    font-size: 36px;
  }

  .signup-input,
  .signup-button,
  .google-signup-button {
    font-size: 18px;
    padding: 0.6rem;
  }

  .error-message {
    font-size: 14px;
  }

  .signin-link {
    font-size: 18px;
  }

  /* Add blur effect for mobile */
  .signup-page {
   
    background-color: #FDFAF5; /* Add slight overlay */
    height: 100vh;
  }
 
}

/* Responsive for smaller mobile devices */
@media (max-width: 480px) {
  .signup-container {
    width: 90%;
  }

  .signup-title {
    font-size: 34px;
  }

  .signup-input,
  .signup-button,
  .google-signup-button {
    font-size: 20px;
    padding: 0.8rem;
    /* margin: 0 0.5rem; */
  }

  .signin-link {
    font-size: 20px;
  }

  .google-icon {
    height: 24px;
  }

  /* Add stronger blur effect for smaller devices */
  .signup-page {
   
    background-color: #FDFAF5; /* Add slight overlay */
    height: 100vh;
  }
 
}
@media (min-width: 1440px){
  .signup-page{
    padding-top: 11rem;
  }
  .signup-page::before{
    aspect-ratio: 6/4;
  }
  .signup-title{
    font-size: 54px;
    margin-bottom:3rem;
  }
  .signup-form{
    gap: 2rem;
  }
  .signup-input{
    font-size: 34px;
  }
  .error-message{
    font-size: 26px;
  }
  .signup-button, .google-signin-button{
    font-size: 34px;
  }
  .signin-link{
    font-size: 34px;
  }
}