.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 3rem;
  border: 1px solid #D5B26B;
  background-color: #FDFAF5;
}

.navbar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navbar-logo img {
  height: 4rem;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  background: none;
  border: none;

 
}

.hamburger-line {
  width: 25px;
  height: 3px;
  background-color: #D5B26B;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-links li a {
  text-decoration: none;
  color: #471D06;
  font-size: 20px;
  font-weight: 500;
  font-family: "Josefin Sans", serif;
}

.navbar-links li a:hover {
  color: #D5B26B;
}

.navbar-icons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.navbar-icons img {
  height: 1.5rem;
  cursor: pointer;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 5rem;
    right: 1.5rem;
    background-color: #FDFAF5;
    padding: 1rem 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  .navbar-links.open {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 0rem 1.5rem;
  }
  
  .navbar-header {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .navbar-icons {
    /* display: none; */
    align-items: center;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 0 1rem;
  }

  .navbar-header {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .navbar-icons {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
  }
}





.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Add a slight background darkening */
  z-index: 1000; /* Ensure it is above other components */
  display: flex;
  align-items: flex-start; /* Align the popup at the top of the screen */
  justify-content: flex-end; /* Align popup to the right */
  overflow: auto; /* Allow scrolling if needed */
  
}

.cart-popup {
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  width: 600px; /* Adjust as needed */
  height: 100vh; /* Prevent overflow */
  overflow-y: auto; /* Enable scrolling within the popup if content exceeds height */
}










