.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 3rem;
  border: 1px solid #D5B26B;
  background-color: #FDFAF5;
}

.navbar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navbar-logo img {
  height: 4rem;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  background: none;
  border: none;

 
}

.hamburger-line {
  width: 25px;
  height: 3px;
  background-color: #D5B26B;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-links li a {
  text-decoration: none;
  color: #471D06;
  font-size: 16px;
  font-weight: 400;
  font-family: "Josefin Sans", serif;
}

.navbar-links li a:hover {
  color: #D5B26B;
}

.navbar-icons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.navbar-icons img {
  height: 1.5rem;
  cursor: pointer;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 5rem;
    right: 3rem;
    background-color: #FDFAF5;
    padding: 1rem 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  .navbar-links.open {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 0rem 1.5rem;
  }
  
  .navbar-header {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .navbar-icons {
    /* display: none; */
    align-items: center;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 0 1rem;
  }

  .navbar-header {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .navbar-icons {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    align-items: center;
  }
}
