.best-selling-coco {
    text-align: center;
    font-family: "Arial", sans-serif;
    padding: 2rem 4rem;
    background-color: #fdfaf5;
    margin: 0rem 2rem;
  }
  
  .section-title-coco {
    color: #d5b26b;
    margin-bottom: 2rem;
    font-size: 48px;
    font-weight: 600;
    font-family: "Josefin Sans", serif;
  }
  
  .coco-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }
  
  .coco-card {
    border: 1px solid #d5b26b;
    border-radius: 20px;
    overflow: hidden;
  }
  
  .coco-image {
    position: relative;
  }
  
  .coco-image img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .coco-tag {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fdfaf5;
    color: #d5b26b;
    font-size: 16px;
    padding: 0.3rem 0.5rem;
    border-radius: 10px;
    font-weight: 400;
    font-family: "Josefin Sans", serif;
    border: 1px solid #d5b26b;
  }
  
  .coco-details {
    padding: 1rem;
    text-align: left;
  }
  
  .coco-name {
    font-size: 24px;
    color: #471d06;
    margin-bottom: 0.5rem;
    font-weight: 400;
    font-family: "Jost", serif;
  }
  
  .coco-price-span {
    font-size: 16px;
    color: #471d06;
    font-weight: 400;
    font-family: "Jost", serif;
  }
  
  .coco-price {
    margin-bottom: 1rem;
    font-size: 24px;
    color: #471d06;
    font-weight: 600;
    font-family: "Jost", serif;
  }
  
  .coco-buttons {
    display: flex;
  }
  
  .view-button-coco {
    flex: 1;
    padding: 0.7rem;
    color: #fdfaf5;
    background-color: #d5b26b;
    border: none;
    border-radius: 5px 0px 0px 10px;
    font-size: 20px;
    font-weight: 400;
    font-family: "Josefin Sans", serif;
    cursor: pointer;
  }
  
  .add-button-coco {
    background-color: #fdfaf5;
    border: 1px solid #d5b26b;
    flex: 2;
    padding: 0.7rem;
    color: #524938;
    border-radius: 0px 5px 10px 0px;
    font-size: 20px;
    font-weight: 400;
    font-family: "Josefin Sans", serif;
    cursor: pointer;
  }

  .section-line {
    height: 2rem; /* Thickness of the line */
    background-color: #E5E1D7; /* Match your color scheme */
  
  }
  
  
  @media (max-width: 768px) {
    .coco-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 480px) {
    .coco-grid {
      grid-template-columns: 1fr;
    }
  }
  