.footer {
  background: #e5e1d7;
  padding: 4rem 2rem;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  gap: 8rem;
}

.footer-logo {
  flex: 1;
  display: flex;
  justify-content: center;
}

.logo {
  width: 15rem; /* Reduced for smaller screens */
  max-width: 100%;
}

.footer-links {
  display: flex;
  justify-content: space-around;
  flex: 3;
  gap: 4rem;
}

.footer-column {
  flex: 1;
}

.footer-column h3 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0.5rem;
  font-family: "Josefin Sans", serif;
  color: #471d06;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin: 0.5rem 0;
}

.footer-column ul li a {
  text-decoration: none;
  color: #8e8e8e;
  font-family: "Jost", serif;
  font-weight: 300;
  font-size: 18px;
}

.footer-column ul li a:hover {
  color: #d5b26b;
}

.footer-bottom {
  margin-top: 6rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
}

.footer-social {
  display: flex;
  gap: 1rem;
}

.footer-social img {
  width: 28px;
  height: 28px;
}

.footer-social img:hover {
  filter: brightness(0.8);
}

.footer-copyright {
  font-size: 16px;
  color: #8e8e8e;
  font-weight: 700;
  font-family: "Jost", serif;
  text-align: center;
}

/* Responsive Design for Tablets and Smaller Laptops */
@media (max-width: 1024px) {
  .footer-top {
      gap: 4rem;
  }

  .footer-column h3 {
      font-size: 18px;
  }

  .footer-column ul li a {
      font-size: 16px;
  }

  .footer-social img {
      width: 24px;
      height: 24px;
  }
}

/* Responsive Design for Mobile Phones */
@media (max-width: 768px) {
  .footer-top {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 2rem;
  }

  .footer-links {
      flex-direction: column;
      gap: 2rem;
  }

  .footer-column {
      text-align: center;
  }

  .footer-column h3 {
      /* font-size: 16px; */
  }

  .footer-column ul li a {
      /* font-size: 14px; */
  }

  .footer-bottom {
      flex-direction: column;
      text-align: center;
      gap: 1rem;
  }

  .footer-copyright {
      font-size: 14px;
  }
}

@media (min-width: 1440px){
  .logo {
    width: 30rem;
    max-width: 150%;
}
.footer-column h3{
  font-size: 30px;
}
.footer-top{
  max-width: 1500px;
}
.footer-column ul li a{
  font-size: 28px;
}
.footer-social img{
  width: 38px;
  height: 38px;
}
.footer-copyright{
  font-size: 26px;
}
}