/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hide scrollbar for all elements */
* {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer 10+ */
}

*::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

/* Striped background for App */
/* Striped background for App */
.app-container {
  background: repeating-linear-gradient(
    90deg,
    #e5e1d7,
    #e5e1d7 30px,
    #ffffff 30px,
    #ffffff 60px
  );
  min-height: 100vh;
}

/* Adjust stripe width for mobile view */
@media (max-width: 768px) {
  .app-container {
    background: repeating-linear-gradient(
      90deg,
      #e5e1d7,
      #e5e1d7 15px, 
      #ffffff 15px,
      #ffffff 30px
    );

  }
}
@media (min-width: 1440px) {
  .app-container {
    background: repeating-linear-gradient(
      90deg,
      #e5e1d7,
      #e5e1d7 40px,
      #ffffff 40px,
      #ffffff 80px
    );
  }
}


/* Navbar and Footer should have solid background */
.navbar, .footer {
  /* background: #fff; */
  position: relative;
  z-index: 10; /* Ensure they overlay the background */
}


/* styles.css */
.toast-custom{
  background-color: #fdfaf5;
}

.toast-custom-success {
  background-color: green !important; /* Green */
  color: #fff !important;
}

.toast-custom-error {
  background-color: #f44336 !important; /* Red */
  color: #fff !important;
}

.toast-custom-warning {
  background-color: #ff9800 !important; /* Orange */
  color: #fff !important;
}
